<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Silpi\CouponManagement\Api\CouponManagementInterface" type="Silpi\CouponManagement\Model\CouponCreation"/>
	<preference for="Silpi\CouponManagement\Api\CouponListInterface" type="Silpi\CouponManagement\Model\CouponList"/>
	<preference for="Silpi\CouponManagement\Api\CouponGetInterface" type="Silpi\CouponManagement\Model\CouponGet"/>
	<preference for="Silpi\CouponManagement\Api\DiscountRulesRepositoryInterface" type="Silpi\CouponManagement\Model\CouponGet"/>
    <preference for="Silpi\CouponManagement\Api\DiscountRulesRepositoryInterface" type="Silpi\CouponManagement\Model\DiscountRulesRepository" />
    <preference for="Silpi\CouponManagement\Api\Data\DiscountRulesInterface" type="Silpi\CouponManagement\Model\DiscountRules" />
 	<preference for="Silpi\CouponManagement\Api\ApplyCouponInterface" type="Silpi\CouponManagement\Model\ApplyCoupon" />
	<preference for="Silpi\CouponManagement\Api\ApplicableCouponsInterface" type="Silpi\CouponManagement\Model\ApplicableCoupons" />
</config>
